body {
  padding: 10px;
  font-family: sans-serif;
}

a {
	text-decoration: none;
}

.profile {
	vertical-align: top;
}

.ok {
  color: green;
}

.ko {
  color: red;
}

.strong {
	font-weight: bold;

}

.centered {
  text-align: center;
}

.search {
 cursor: auto;
}

.setpage {
	cursor: pointer;
}
.nextpage {
	cursor: pointer;
}
.prevpage {
	cursor: pointer;
}


.selected {
	text-decoration: underline;
}

.sort {
	cursor: pointer;
   }

.nohpad {
	padding-left:2px;
	padding-right:2px;
	cursor: default;
}

.disconnect-button {
	text-anchor: right;
}

.live-table {
	padding-left:0px;
	padding-right:6px;
}

.pure-table {
	min-width:80%;
	max-width:100%;
}

img {
	padding:0px;
}

.pure-table tr:nth-child(2n) {
	background-color: #EFEFF0;
}

.main-menu {
	background-color: darkorange;
}

textarea {
	width:100%;
}


.main-title {
	background-color:rgba(255,255,255,0);
	padding-left: 30px;
	padding-top:2px;
	font-weight: bold;
	font-size: 1.4em;
	text-transform: uppercase;
	background:darkorange;
	background-color:darkorange;
}

.main-channel-menu {
 text-align: right;
 background-color: darkorange;
}

.pure-menu-heading.pure-menu-active>.pure-menu-link,
.pure-menu-heading.pure-menu-link:hover,
.pure-menu-heading.pure-menu-link:focus,
.pure-menu-heading {
	background:darkorange;
	background-color:darkorange;
}
.pure-menu-heading img{
	max-width: 100%;
	height: 48px;
}
.pure-menu-link img{
	max-width: 100%;
	height: 46px;
	padding: 4px;
}

.pure-menu-link{
white-space: normal;
  overflow: hidden;
}

.main-menu-list{
	padding-left: 20px;
}

.pure-menu-item{
	border: none;
	text-transform: uppercase;
}

#menu-user{
	display: inline-block;
	position: absolute;
	right: 0;
	padding: 3px 0 3px 0;
	width: 230px;
}

.main-menu-list .pure-menu-link{
  color: black;
	font-weight: 600;
	font-size: 14px;
}

.pure-menu-active{
	background:red;
}

.oneline{
	display: flex;
}


.resettimer {
	color: transparent;
	border: 0;
	background-color:transparent;
	padding-left: 0px;
}
.resettimer:hover {
	border: 0;
	background-color:transparent;
	color: red;
}


.autohide {
	color: transparent;
}

.autohide:hover {
	color: black;
	cursor:pointer;
}

.uname {
	background-color:#f0f00080;
}

.capcase {
	text-transform: uppercase ;
}


.overlay {
	vertical-align: bottom;
}


/* Couleur du texte dans la bulle*/
div.overlay-textarea{
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 30px;
	color: rgba(255,255,255,255);
}

.overlay-background {
	background-color: rgba(0,0,0,0);
}


.overlay-textarea {
	resize: none;
	outline: none;
	border-radius: 50%;
	border-bottom-left-radius: 0%;
	border-style: outset;
	border-width: 4px;
	border-color:rgb(200,200,200);
	text-align: center;
	font-size: 30px;
	
}

.overlay-fade {
	opacity: 0;
}

.overlay-animate2 {
	animation-name: anim2;
	animation-duration: 8s;
}

@keyframes anim2 {
	0% {
		opacity:0.0;
	}
	10% {
		opacity:1.0;
	}
	90% {
		opacity:1.0;
	}
	100% {
		opacity: 0.0;
	}
}


.overlay-animate {
	animation-name: anim;
	animation-duration: 8s;
}

@keyframes anim {
	0% {
		opacity:0.0;
	}
	20% {
		opacity:1.0;
	}
	80% {
		opacity:1.0;
	}
	100% {
		opacity: 0.0;
	}
}

